<!-- <app-auth-modal-wrapper [bannerImageUrl]="'https://images.unsplash.com/photo-1551218808-94e220e084d2?auto=format&fit=crop&w=800&q=60'">
<h2 mat-dialog-title>Create your NomNow account</h2>

<div mat-dialog-content>
  <form [formGroup]="signupForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </form>
</div>

<div class="actions">
  <button mat-stroked-button color="basic" mat-dialog-close class="cancel-btn">
    Cancel
  </button>

  <button mat-flat-button color="primary" class="submit-btn" (click)="onSubmit()">
    Login
  </button>
</div>
</app-auth-modal-wrapper> 
-->
<app-auth-modal-wrapper [bannerImageUrl]="'https://images.unsplash.com/photo-1551218808-94e220e084d2?auto=format&fit=crop&w=800&q=60'">
  <h2 mat-dialog-title>Create your NomNow account</h2>

  <div mat-dialog-content>
    <form [formGroup]="signupForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-text">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-text">
        {{ successMessage }}
      </div>
    </form>
  </div>

  <div class="actions">
    <button mat-stroked-button color="basic" mat-dialog-close class="cancel-btn">
      Cancel
    </button>

    <button mat-flat-button color="primary" class="submit-btn" (click)="onSubmit()" [disabled]="signupForm.invalid || isLoading">
      Sign Up
    </button>
  </div>
</app-auth-modal-wrapper>
