/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
.success-snackbar {
  background-color: #43a047 !important; /* Material green */
  color: white !important;
}

.error-snackbar {
  background-color: #e53935 !important; /* Material red */
  color: white !important;
}
