<section class="exclusive-deals">
<h2>Exclusive Deals Near You 🤑</h2>

<div class="deals-strip">
  <div class="deal-card" *ngFor="let deal of exclusiveDeals">
    <div class="deal-image">
      <img [src]="deal.item.imageUrl" alt="{{ deal.item.name }}" />
      -{{ deal.item.offer.offerType === 'PERCENTAGE' ? deal.item.offer.discountAmount + '%' : '₹' + deal.item.offer.discountAmount }}
    </div>
    <div class="deal-details">
    <h3>{{ deal.item.name }}</h3>
    <p>{{ deal.restaurantName }}</p>
    <div class="price-row">
      <span class="price">₹{{ deal.item.price }}</span>
      <button (click)="addToCart(deal.item, deal.restaurantId)">Add</button>
    </div>
    </div>
  </div>
</div>
</section>
